body {
  margin: 0;
}

/* section 1 */

/* section 2 starts  */
.container {
  background-color: #f4ede4;
  padding: 60px 0px;
}

h2 {
  font-style: 45px;
  margin: 0;
  margin-bottom: 20px;
}
.max-w {
  min-width: 1180px;
  margin: auto;
  text-align: center;
}

.f-grid {
  display: flex;
  justify-content: space-between;
  text-align: left;
  min-width: 900px;
  margin: auto;
}

.f-grid h3 {
  font-size: 70px;
  margin: 0;
}

.f-grid p {
  /* box-sizing: border-box; */
  font-weight: 900;
  font-size: 16px;
  margin: 0;
  margin-bottom: 20px;
  letter-spacing: normal;
  text-align: left;
  /* initial-letter-align: left; */
}

.max-w {
  max-width: 1180px;
  margin: auto;
  text-align: center;
}

.f-grid {
  display: flex;
  justify-content: space-between;
  text-align: left;
  min-width: 900px;
  margin: auto;
}

.f-grid p {
  font-weight: 900;
  font-size: 16px;
  margin: 0;
}

.f-grid-sec {
  width: 33.3%;
  min-width: 180px;
}

.small-f {
  font-size: 14px;
  margin-top: 28px;
}

.main {
  display: flex;
  max-width: 1180px;
}

.right{
  width: 50%;
  text-align: end;
  margin: 0;
  padding: 0

.left{
  width: 50%;
  text-align: left;
}