* {
  padding: 0;
  margin: 0;
}



.nav-container {
  display: flex;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}

.container {
  display: flex;
  width: 50%;
  background-color: #541554;
}

li {
  display: inline-block;
}

.right {
  display: flex;

  /* justify-content: ; */
  height: auto;
  max-height: 400px;
  max-width: 400px;
  vertical-align: baseline;
  justify-items: self-end;
}

.left {
  width: 50%;
}
